main{
    display: grid;
    grid-template-areas:
    'bal bal menu menu jobb jobb'
    'bal bal fot fot fot fot'
    'lab lab keszit ke o o'
    ;
}
nav{
    grid-area: menu;
    padding-left: 10px;
}
article{
    grid-area: fot;
    border: double 2px;
    border-left: none;
    border-right: none;
    padding-top: 5px;
    padding-bottom: 20px;
} 
#bt{
    grid-area: bal;
    border: dashed 1px;
    text-align: center center;
    padding-top: 5px;
}
#jt{
    grid-area: jobb;
    padding-right: 10px;
}
#keszit{
    grid-area: ke;
    padding-right: 5px;
}
#osztaly{
    grid-area: o;
    border-left: dotted 1px;
}
footer{
    grid-area: lab;
    padding-top: 20px;
    padding-left: 5px;
}
#osztaly, #bt, article{
    text-align: center;
}
#nav, #footer{
    text-align: left;
}
#keszit, #jt{
    text-align: right;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
