*{
    padding: 1px;
}
main{
    display: grid;
    grid-template-areas:
    'menu menu fot b b'
    'menu menu fot bal jobb'
    'ke o lab lab lab'
    ;
}

nav{
    grid-area: menu;
}
article{
    grid-area: fot;
    border: 2px double;
    border-top: none;
} 
#bej{
    grid-area: b;
}
#bt{
    grid-area: bal;
}
#jt{
    grid-area: jobb;
}
#keszit{
    grid-area: ke;
    border-top: 1px dashed;
}
#osztaly{
    grid-area: o;
}
footer{
    grid-area: lab;
    border: 1px black solid;
}
article, #bej{
    text-align: center;
}
#osztaly, #jt{
    text-align: right;
}
