*{
    height: 300px;
    width: auto;
    border-radius: 10px;
    background-size: cover;
    color: white;
    padding: 15px;
}
article, aside, footer, header, nav{
    opacity: 0.8;
}
article:hover{
    opacity: 1;
}
aside:hover{
    opacity: 1;
}
footer:hover{
    opacity: 1;
}
header:hover{
    opacity: 1;
}
nav:hover{
    opacity: 1;
}
body{
    display: grid;
    grid-template-areas:
    'h n n'
    'as f ar';
    gap: 5px;

}
header, article, aside, footer{
    text-align: right;
}

header{
    background-image: url(kepek/img/dandelion.jpg);
    grid-area: h;
}
nav{
    background-image: url(kepek/img/dand2.jpg);
    grid-area: n;
}
aside{
    background-image: url(kepek/img/dand3.jpg);
    grid-area: as;
}
footer{
    background-image: url(kepek/img/dandy.gif);
    grid-area: f;
}
article{
    background-image: url(kepek/img/dandy2.gif);
    grid-area: ar;
}
#kek{
    background-color: rgba(77, 77, 121, 0.342);
    height: 20px;
}
a{
    text-decoration: none;
}
@media only screen and (max-width: 400px) {
    body{
        display: grid;
        grid-template-areas:
        'h'
        'n'
        'as'
        'f'
        'ar';
    }
    #kek{
        height: 300px;
    }
    #kek a{
        display: block;
        height: 20px;
    }
}
